.adress {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 100px;
  align-items: center;
  justify-content: center;

  padding: 120px 103px;
  padding-bottom: 110px;

  color: $color-tangaroa;

  @media (max-width: $vp-1365) {
    grid-template-columns: 1fr 1fr;
    column-gap: 30px;

    padding: 0 45px;
    padding-top: 80px;
    padding-bottom: 88px;
  }

  @media (max-width: $vp-767) {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 316px;

    padding: 65px 15px;
    padding-top: 57px;
    padding-bottom: 87px;
  }
}

.adress__map {
  width: 560px;
  height: 305px;
  justify-self: center;

  @media (max-width: $vp-1365) {
    width: 100%;
    height: 335px;
  }

  @media (max-width: $vp-767) {
    height: 316px;

    margin-top: 43px;

    order: 2;
  }
}

.adress__text {
  display: flex;
  flex-direction: column;
  row-gap: 27px;

  padding-top: 80px;
  padding-bottom: 80px;

  max-width: 500px;

  @media (max-width: $vp-767) {
    justify-self: center;

    display: flex;
    flex-direction: column;
    align-items: flex-start;

    padding-top: 0;
    padding-bottom: 10px;

  }
}

.adress__text-header {
  font-size: 18px;
  font-weight: 500;
  line-height: 27px;

  @media (max-width: $vp-1365) {
    margin-bottom: 0;
  }
}

.adress__geolocation {
  display: flex;
  align-items: center;
  column-gap: 10px;
}

.adress__phone {
  display: flex;
  align-items: center;
  column-gap: 10px;
}
