.booking-form {
  position: relative;

  display: flex;
  flex-direction: column;
  row-gap: 20px;

  padding: 25px 50px;
  padding-bottom: 45px;

  max-width: 403px;

  background-color: $color-tangaroa;

  @media (max-width: $vp-1365) {
    margin-top: 55px;
    padding-bottom: 50px;
  }

  @media (max-width: $vp-767) {
    max-width: 290px;

    margin-top: 33px;
    padding: 65px 30px;
    padding-top: 13px;
    padding-bottom: 38px;
  }
}

.booking-form input {
  min-height: 43px;

  padding-left: 16px;

  border: none;
}

.booking-form__header {
  font-size: 18px;
  font-weight: 500;
  line-height: 27px;

  margin: 0;
  padding: 0;
  margin-top: 23px;

  color: $color-alice-blue;

  @media (max-width: $vp-1365) {
    margin-bottom: 5px;
  }

  @media (max-width: $vp-767) {
    text-align: center;

    margin-right: 5px;
    margin-left: 5px;
    margin-bottom: 3px;
  }
}

.booking-form__label {
  position: relative;

  display: flex;
  align-items: center;
  flex-wrap: wrap;
  column-gap: 5px;

  font-size: 10px;
  font-weight: 400;
  line-height: 13px;

  color: $color-alice-blue;

  @media (max-width: $vp-1365) {
    margin-top: 5px;
  }

  @media (max-width: $vp-767) {
    margin-top: -5px;
  }
}

.booking-form__label-text {
  padding-left: 24px;

  cursor: pointer;

  @media (max-width: $vp-767) {
    padding-right: 54px;
  }
}

.booking-form__submit {
  display: flex;
  justify-content: center;
  align-items: center;

  min-height: 43px;
  width: 100%;

  margin-top: 20px;

  font-size: 14px;
  font-weight: 600;
  line-height: 21px;

  border: none;

  cursor: pointer;

  background-color: $color-alice-blue;

  @media (max-width: $vp-1365) {
    margin-top: 10px;
  }
}

.booking-form__submit:disabled {
  cursor: auto;
}

.booking-form__checkbox {
  position: absolute;
  top: 380px;
  z-index: -1;
  opacity: 0;

  @media (max-width: $vp-767) {
    top: 350px;
  }
}

.booking-form__checkbox:checked + .booking-form__label::after {
  position: absolute;
  content: "";

  width: 10px;
  height: 8px;

  border: 2px solid $color-tangaroa;

  border-top: none;
  border-right: none;

  left: 4px;
  top: 2px;

  transform: rotate(-50deg);

  cursor: pointer;

  background-color: transparent;

  @media (max-width: $vp-767) {
    top: 7px;
  }
}

.booking-form__label::before {
  position: absolute;

  content: "";

  width: 18px;
  height: 18px;

  cursor: pointer;

  background-color: $color-alice-blue;
}
