.booking {
  display: flex;
  column-gap: 144px;
  align-items: center;
  justify-content: center;

  padding-top: 50px;
  padding-bottom: 49px;
  padding-left: 163px;
  padding-right: 163px;

  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: cover;

  background-color: $color-pale-cornflower-blue;

  @media (min-width: $vp-1024) {
    background-image: url("../img/form-bg-desktop@1x.webp");

    @media (min-resolution: $retina-dppx) {
      background-image: url("../img/form-bg-desktop@2x.webp");
    }
  }

  @media (max-width: $vp-1023) {
    flex-direction: column;

    padding-top: 89px;
    padding-bottom: 100px;
    padding-left: 174px;
    padding-right: 174px;

    background-image: url("../img/form-bg-tablet@1x.webp");

    @media (min-resolution: $retina-dppx) {
      background-image: url("../img/form-bg-tablet@2x.webp");
    }
  }

  @media (max-width: $vp-767) {
    padding-top: 57px;
    padding-bottom: 65px;
    padding-left: 15px;
    padding-right: 15px;

    background-image: url("../img/form-bg-mobile@1x.webp");

    @media (min-resolution: $retina-dppx) {
      background-image: url("../img/form-bg-mobile@2x.webp");
    }
  }
}

.booking__text {
  margin-top: -8px;

  @media (max-width: $vp-1023) {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 0;
  }

  @media (max-width: $vp-767) {
    margin-top: 0;
  }
}

.booking__text header {
  margin-bottom: 8px;

  font-size: 40px;
  font-weight: 700;
  line-height: 60px;

  color: $color-tangaroa;

  @media (max-width: $vp-1023) {
    margin-bottom: 4px;

    font-size: 34px;
    font-weight: 700;
    line-height: 51px;
  }

  @media (max-width: $vp-767) {
    margin-bottom: 14px;

    font-size: 24px;
    font-weight: 700;
    line-height: 31px;

    text-align: center;
  }
}

.booking__text p {
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;

  margin: 0;
  padding: 0;

  @media (max-width: $vp-1023) {
    text-align: center;

    margin-bottom: -2px;
  }

  @media (max-width: $vp-767) {
    padding-left: 10px;
    padding-right: 10px;
    margin: 0;
    margin-bottom: -5px;

    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
  }

  color: $color-tangaroa;
}
