.booking-form {
  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  row-gap: 27px;
  row-gap: 20px;

  padding-left: 50px;
  padding-right: 50px;
  padding-top: 20px;
  padding-bottom: 52px;

  max-width: 403px;

  background-color: $color-tangaroa;

  @media (max-width: $vp-1023) {
    margin-top: 55px;
    padding-bottom: 50px;
  }

  @media (max-width: $vp-767) {
    max-width: 290px;

    margin-top: 39px;
    padding: 65px 30px;
    padding-top: 13px;
    padding-bottom: 40px;
  }
}

.booking-form input {
  min-height: 43px;

  padding-left: 16px;

  border: none;
}

.booking-form p {
  font-size: 18px;
  font-weight: 500;
  line-height: 27px;

  margin: 0;
  padding: 0;
  margin-top: 23px;
  margin-bottom: 8px;

  color: $color-alice-blue;

  @media (max-width: $vp-1023) {
    margin-bottom: 7px;
  }

  @media (max-width: $vp-767) {
    text-align: center;

    margin-right: 5px;
    margin-left: 5px;
    margin-bottom: 7px;

    line-height: 25px;
  }
}

.booking-form label {
  position: relative;

  display: flex;
  align-items: center;
  flex-wrap: wrap;
  column-gap: 5px;

  font-size: 10px;
  font-weight: 400;
  line-height: 13px;

  color: $color-alice-blue;

  @media (max-width: $vp-1023) {
    margin-top: 2px;
  }

  @media (max-width: $vp-767) {
    margin-top: -5px;
  }
}

.booking-form span {
  padding-left: 24px;

  cursor: pointer;

  @media (max-width: $vp-767) {
    padding-right: 45px;
    padding-left: 28px;

  }
}

.booking-form button {
  display: flex;
  justify-content: center;
  align-items: center;

  min-height: 43px;
  width: 100%;

  margin-top: 12px;

  font-size: 14px;
  font-weight: 600;
  line-height: 21px;

  border: none;

  cursor: pointer;

  background-color: $color-alice-blue;

  @media (max-width: $vp-1023) {
    margin-top: 10px;
  }

  @media (max-width: $vp-767) {
    margin-top: 7px;
  }
}

.booking-form button:disabled {
  cursor: auto;
}

.booking-form input[type="email"] {
  margin-bottom: 2px;
}

.booking-form input[type="checkbox"] {
  position: absolute;
  top: 380px;
  z-index: -1;
  opacity: 0;

  @media (max-width: $vp-767) {
    top: 350px;
  }
}

.booking-form input[type="checkbox"]:checked + label::after {
  position: absolute;
  content: "";

  width: 10px;
  height: 8px;

  border: 1px solid $color-tangaroa;

  border-top: none;
  border-right: none;

  left: 4px;
  top: 2px;

  transform: rotate(-50deg);

  cursor: pointer;

  background-color: transparent;

  @media (max-width: $vp-767) {
    top: 7px;
  }
}

.booking-form label::before {
  position: absolute;

  content: "";

  width: 19px;
  height: 19px;

  cursor: pointer;

  background-color: $color-alice-blue;
}

.booking-form input[type="checkbox"]:focus + label::before {
  outline: 2px solid $color-orange;
}

.booking-form input::placeholder {
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
}
