.cruises {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding-top: 110px;
  padding-bottom: 120px;
  padding-left: 108px;
  padding-right: 108px;

  @media (max-width: $vp-1365) {
    padding-top: 90px;
    padding-bottom: 100px;
    padding-left: 60px;
    padding-right: 60px;
  }

  @media (max-width: $vp-767) {
    padding: 56px 25px;
    padding-bottom: 66px;
  }
}

.cruises header {
  margin-bottom: 50px;

  font-size: 28px;
  font-weight: 600;
  line-height: 42px;

  color: $color-tangaroa;

  @media (max-width: $vp-1365) {
    font-size: 26px;
    line-height: 39px;
  }

  @media (max-width: $vp-767) {
    margin-bottom: 30px;

    font-size: 24px;
    line-height: 36px;
  }
}

.cruises__item {
  position: relative;

  min-height: 386px;
}

.cruises__info {
  position: absolute;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  opacity: 0;

  width: 260px;
  min-height: 386px;

  padding-left: 25px;
  padding-right: 25px;
  padding-top: 68px;
  padding-bottom: 35px;

  z-index: 5;

  color: $color-alice-blue;
  background-color: $color-tangaroa;

  box-shadow: 0 4px 35px $color-shadow-15;

  @media (max-width: $vp-1365) {
    width: 309px;
    padding-left: 35px;
    padding-right: 35px;
  }

  @media (max-width: $vp-767) {
    width: 270px;
    padding-left: 25px;
    padding-right: 25px;
  }
}

.cruises__item > p {
  position: absolute;
  bottom: 23px;
  left: 30px;

  margin: 0;
  padding: 0;

  font-size: 18px;
  font-weight: 500;
  line-height: 27px;

  color: $color-alice-blue;

  @media (max-width: $vp-1365) {
    bottom: 27px;
    left: 35px;
  }

  @media (max-width: $vp-767) {
    bottom: 17px;
    left: 26px;
  }
}

.cruises__info p {
  margin: 0;
  padding: 0;
  margin-bottom: 2px;

  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
}

.cruises__info span {
  margin: 0;
  padding: 0;
  margin-bottom: 10px;

  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}

.cruises__info a {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  min-height: 40px;

  margin-top: auto;

  font-size: 14px;
  font-weight: 600;
  line-height: 21px;

  z-index: 11;

  user-select: none;

  color: $color-tangaroa;
  background-color: $color-alice-blue;
}

.cruises__images {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}

.cruises__item img {
  width: 260px;
  height: 386px;

  @media (max-width: $vp-1365) {
    width: 309px;
  }

  @media (max-width: $vp-767) {
    width: 270px;
  }
}

.cruises__item:hover .cruises__info {
  opacity: 1;

  transition: 0.5s;
}

.cruises__item:focus .cruises__info {
  opacity: 1;

  transition: 0.3s;
}

.cruises__item:focus p {
  top: 27px;
  left: 25px;
  z-index: 10;
}

.cruises__item:hover > p {
  top: 27px;
  left: 25px;
  z-index: 10;
}

.cruises__picture-wrapper img {
  width: 260px;
  height: 386px;

  @media (max-width: $vp-1365) {
    width: 309px;
  }

  @media (max-width: $vp-767) {
    width: 270px;
  }
}
