.main-nav {
  position: static;

  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-bottom: 202px;

  @media (max-width: $vp-1365) {
    margin-bottom: 150px;
  }

  @media (max-width: $vp-767) {
    margin-bottom: 135px;
  }
}

