.main-header {
  min-height: 650px;

  padding-left: 103px;
  padding-right: 103px;
  padding-top: 35px;

  color: $color-alice-blue;

  background-image: url("../img/header-bg-desktop@1x.webp");
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: cover;
  background-color: $color-denim;

  @media (min-width: 1366px) {
    @media (min-resolution: $retina-dppx) {
      background-image: url("../img/header-bg-desktop@2x.webp");
    }
  }

  @media (max-width: $vp-1365) {
    min-height: 638px;

    padding-left: 45px;
    padding-right: 45px;
    padding-top: 30px;

    background-image: url("../img/header-bg-tablet@1x.webp");

    @media (min-resolution: $retina-dppx) {
      background-image: url("../img/header-bg-tablet@2x.webp");
    }
  }

  @media (max-width: $vp-767) {
    min-height: 500px;

    padding-left: 15px;
    padding-right: 15px;
    padding-top: 20px;

    background-image: url("../img/header-bg-mobile@1x.webp");

    @media (min-resolution: $retina-dppx) {
      background-image: url("../img/header-bg-mobile@2x.webp");
    }
  }
}
