.nav-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 33px;

  flex-basis: 890px;
  margin: 0;
  padding: 0;

  list-style: none;

  user-select: none;

  @media (max-width: $vp-1365) {
    flex-basis: 441px;
    column-gap: 23px;
  }

  @media (max-width: $vp-767) {
    display: none;
  }

  &--footer {
    @media (max-width: $vp-767) {
      flex-basis: 105px;
      display: flex;
      flex-direction: column;
      row-gap: 7px;

      margin: 0;
      padding: 0;
    }
  }
}

.nav-list__item a {
  color: $color-alice-blue;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;

  @media (max-width: $vp-1365) {
    font-size: 14px;
  }
}

.nav-list--footer a {
  @media (max-width: $vp-1365) {
    font-size: 12px;
    font-weight: 500;
    line-height: 15px;
  }
}
