.nav-block {
  &--opened {
    @media (max-width: $vp-767) {
      position: absolute;
      top: 0;
      right: 0;

      width: calc(100% - 35px);
      min-height: 568px;

      padding-left: 25px;
      padding-right: 15px;
      padding-top: 22px;

      background-color: $color-alice-blue;
    }

  }

  &--opened .nav-list {
    @media (max-width: $vp-767) {
      display: flex;
      flex-direction: column;
      row-gap: 26px;

      margin: 0;
      padding: 0;
      margin-top: 33px;
    }
  }

  &--nojs {
    @media (max-width: $vp-767) {
      position: absolute;
      top: 0;
      right: 0;

      width: 100%;
      min-height: 180px;

      padding-left: 15px;
      padding-right: 15px;
      padding-top: 20px;

      background-color: $color-alice-blue;
    }
  }
}

.nav-block--opened .nav-block__logo {
  display: none;

  @media (max-width: $vp-767) {
    display: inline-block;

    margin-left: -10px;
  }
}

.nav-block--nojs .nav-block__logo {
  display: none;

  @media (max-width: $vp-767) {
    display: inline-block;
  }
}

.nav-block__logo {
  display: none;
}

.nav-block--opened .nav-list__link {
  @media (max-width: $vp-767) {
    font-size: 18px;
    font-weight: 500;
    line-height: 22px;

    color: $color-tangaroa;
  }
}

.nav-block--nojs .nav-list {

  @media (max-width: $vp-767) {
    display: flex;
    flex-direction: column;
    row-gap: 5px;

    margin: 0;
    padding: 0;
    margin-top: 10px;

    font-size: 16px;
    font-weight: 500;
  }
}

.nav-block--nojs .nav-list__link {
  @media (max-width: $vp-767) {
    color: $color-tangaroa;
  }
}

.nav-block--opened .toggle {
  position: absolute;
  right: 15px;
  top: 30px;

  width: 16px;

  transform: rotate(45deg);

  box-shadow: none;

  background-color: $color-tangaroa;
}

.nav-block--opened .toggle::after {
  position: absolute;

  transform: rotate(90deg);

  content: "";

  width: 16px;
  height: 2px;

  background-color: $color-tangaroa;
}

