.page-footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;

  margin-top: auto;
  padding-top: 50px;
  padding-bottom: 48px;
  padding-left: 103px;
  padding-right: 103px;

  background-color: $color-tangaroa;

  @media (max-width: $vp-1023) {
    padding-left: 45px;
    padding-right: 45px;
    padding-bottom: 48px;
    padding-top: 47px;
  }

  @media (max-width: $vp-767) {
    min-height: 283px;

    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    row-gap: 23px;

    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;

  }
}
