.page-footer {
  min-height: 130px;

  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;

  padding-top: 10px;
  padding-left: 100px;
  padding-right: 103px;

  background-color: $color-tangaroa;

  @media (max-width: $vp-1365) {
    justify-content: flex-start;

    min-height: 120px;

    padding-left: 45px;
    padding-right: 45px;
    padding-top: 0;

    column-gap: 25px;
  }

  @media (max-width: $vp-767) {
    min-height: 283px;

    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    row-gap: 23px;

    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
  }
}
