.social {
  margin-left: 283px;

  @media (max-width: $vp-1365) {
    margin-left: 0;
  }

  @media (max-width: $vp-767) {
    margin-left: 0;
  }
}

.social__list {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 28px;

  margin: 0;
  padding: 0;
  margin-top: 10px;
  margin-left: 10px;

  list-style: none;

  @media (max-width: $vp-1365) {
    margin-left: 66px;

    column-gap: 16px;
  }

  @media (max-width: $vp-767) {
    margin-left: 0;
    margin-top: 0;
  }
}

.social__item a {
  font-size: 0;
  line-height: 0;
}

.social__icon {
  height: 16px;
}
