.social {
  margin-left: 300px;

  @media (max-width: $vp-1365) {
    margin-left: 50px;
  }

  @media (max-width: $vp-767) {
    margin-left: 0;
  }
}

.social__list {
  margin: 0;
  padding: 0;

  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 28px;

  list-style: none;
}
