.trip {
  margin: 0 auto;

  max-width: $vp-1366;
  min-width: $vp-320;

}

.trip__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding-left: 103px;
  padding-right: 103px;
  padding-top: 120px;
  padding-bottom: 121px;

  @media (max-width: $vp-1365) {
    padding-left: 25px;
    padding-right: 25px;
  }

  @media (max-width: $vp-1023) {
    min-height: 264px;

    padding-left: 45px;
    padding-right: 45px;
    padding-top: 71px;
    padding-bottom: 77px;
  }

  @media (max-width: $vp-767) {
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding-left: 15px;
    padding-right: 15px;
    padding-top: 35px;
    padding-bottom: 65px;
  }
}

.trip__text {
  flex-basis: 512px;

  margin-top: 13px;

  @media (max-width: $vp-1023) {
    flex-basis: 324px;
    flex-grow: 1;

    padding-top: 21px;
    margin-top: 0;
  }

  @media (max-width: $vp-767) {
    flex-basis: 290px;
  }
}

.trip__text h2 {
  padding: 0;
  margin: 0;

  font-size: 28px;
  font-weight: 600;
  line-height: 42px;

  color: $color-tangaroa;

  @media (max-width: $vp-1023) {
    font-size: 26px;
    line-height: 36px;
  }

  @media (max-width: $vp-767) {
    font-size: 24px;
    font-weight: 600;
    line-height: 34px;
  }
}

.trip__text p {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;

  margin-top: 25px;

  @media (max-width: $vp-1023) {
    margin-top: 16px;
    margin-right: 19px;
  }

  @media (max-width: $vp-767) {
    margin-right: 0;
    margin-bottom: 33px;
  }
}

.trip__img-wrapper {
  flex-basis: 560px;

  height: 301px;

  margin-left: 70px;

  @media (max-width: $vp-1023) {
    flex-basis: 324px;

    height: 264px;

    margin-left: 10px;
    padding-bottom: 3px;
  }

  @media (max-width: $vp-767) {
    flex-basis: 186px;

    margin-left: 0;
  }
}

.trip__img-wrapper img {
  width: 100%;
  height: 100%;

  object-fit: fill;
}
