.trip {
  padding-left: 103px;
  padding-right: 103px;
  padding-top: 108px;
  padding-bottom: 132px;

  @media (max-width: $vp-1365) {
    padding-left: 45px;
    padding-right: 45px;
    padding-top: 100px;
    padding-bottom: 100px;
  }

  @media (max-width: $vp-767) {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 65px;
    padding-bottom: 65px;
  }
}

.trip__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;

  @media (max-width: $vp-767) {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.trip__header {
  padding: 0;
  margin: 0;

  font-size: 28px;
  font-weight: 600;
  line-height: 42px;

  color: $color-tangaroa;

  @media (max-width: $vp-1365) {
    font-size: 26px;
    line-height: 36px;
  }

  @media (max-width: $vp-767) {
    font-size: 24px;
    font-weight: 600;
    line-height: 34px;
  }

}

.trip__description {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.trip__img-wrapper {
  flex-shrink: 0;

  width: 560px;
  height: 301px;

  margin-left: 70px;

  @media (max-width: $vp-1365) {
    width: 324px;
    height: 264px;

    margin-left: 10px;
  }

  @media (max-width: $vp-767) {
    margin-left: 0;

    width: 290px;
  }

}

